@model IEnumerable<MyWebSite.Models.Experience>

@{
    ViewData["Title"] = "Experience";
    ViewData["Banner"] = "Work Experience";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_Banner" />
<div class="main">
    <div class="row justify-content-md-center">
        <div class="col-9 p-4">
            <div class="p-4 mb-4 text-black bg-light fs-5 lh-base text-black-50">
                I’ve built and launched more than 30 projects. Since graduating from University, I have worked at tech companies in China and progressed from a junior to senior engineer. This ultimately lead to my being appointed to a position as head of engineering at a software company in Beijing.
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="row item justify-content-md-center mb-5 lh-base">
                <div class="col-3">
                    <ul class="list-unstyled ps-4">
                        <li class="fs-5">@Html.DisplayFor(modelItem => item.Title)</li>
                        <li class="fs-6 text-black-50">@Html.DisplayFor(modelItem => item.Location)</li>
                        <li class="fs-6 text-black-50">@Html.DisplayFor(modelItem => item.Duration)</li>
                    </ul>
                </div>
                <div class="col-6 pe-4">@Html.DisplayFor(modelItem => item.Description)</div>
            </div>

        }

    </div>
</div>

