html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #faf8f2;
}

.navbar-brand {
    font-size: 2rem;
    color: #3d3d3d;
}
.nav-item {
    margin-right: 1.25rem;
}
.nav-link {
    font-size: 1.15rem;
}
.mainnav {
  
}
.main {
    font-size: 20px;
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
    color: rgba(41, 41, 41, 1);
}
.messagebox {
    background-color: #6f8c84;
}






